body {
  margin: 0;
  font-family: Spartan, 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 15px;
 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
a{
  text-decoration: none;
  color: hsl(180, 29%, 50%);
  
}

img{
  object-fit: contain;
}
*,html{
  box-sizing: border-box;
}
ul{
  list-style: none;
}